/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-image: url('./space.jpg');

}

.display {
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.scoreboard {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background-color: gray;
  font-size: 18px;
  line-height: 27px;
  margin-left: 70%;
}

.scoreboard div {
  margin-left: 8px;
}
span {
  text-align: right;
  margin-left: 5px;
}

svg {
  background-color: black;
  opacity: 0.8;
}

.player {
  fill: orange;
}
